@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+HR+Lijeva:wght@100..400&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
}
/* 
h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#ff0095, #ce0cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */

  /* header style start  */
   .header_section{
    background-color: #ffff;
    box-shadow: 0px 2px 9px 2px #8080803b;
   }
.navbar,.banner{
    width: 80%;
    margin: 0px auto;
}
  .nav_container{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    height: 100px;
    /* background-color: red; */
    align-items: center;
  }
  .nav_item_1{
   display: flex;
   height: 50px;
   align-items: center;
   
  }
  .nav_item_1 img{
    width: 80%;
   
  }
  .nav_h2{
    font-size: 2.5rem;
    padding-left: 20px;
  }
  .nav_span{
    color:#FF42A5 ;
  }
  .ul_nav_ul{
    list-style: none;
   
  }
  .na_li{
    display: inline;
    margin: 0px 15px;
    font-size: 1rem;
    font-weight: 600;
    box-sizing:border-box;
  }
  .s_li{
    background-color: #E7E6E9;
    padding: 15px ;
    border-radius: 5px;
  }
  .a_link{
    text-decoration: none;
    color: black;
    
  }
/* banner style here  */
.ban_container{
    display: flex;
     
   gap: 40px;
}
.ban_item_1{
    background-image: url(../images/Group\ 14.png);
   object-fit: contain;
    flex-basis: 50%;
    background-size: contain;
    background-repeat:repeat;
    background-position: center;
    /* height: 100vh; */
}
.ban_p{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 100px;


}
.ban_h1{
    background: -webkit-linear-gradient(#ff009d, #b700ff );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.7rem;
    font-weight: 800;
    padding-top: 10px;
}
  .ban_item_2 img{
    width: 100%;
   
  }
 
  .ban_ul{
    color: #837D8F;
    list-style: none;
    font-size: .9rem;
    line-height: 2rem;
    margin-top: 10px;
    font-weight: 600;
  }
  .ban_btn{
    padding-top: 20px;
  }
  .btn_1{
    background-color: #FF42A5;
    color: #FFFF;
    border: none;
    padding: 15px 25px;
    border-radius: 25px;
    /* font-size: 1.2rem; */
    text-transform: uppercase;
    margin-right: 15px;
    cursor: pointer;
  }
  .btn_2{
    background-color: #4EC5F7;
    color: #FFFF;
    border: none;
    padding: 15px 25px;
    border-radius: 25px;
    /* font-size: 1.2rem; */
    text-transform: uppercase;
    
    cursor: pointer;
  }
 
  
  /* grammer style  */
  .grammer_section{
    background-color: #FFF9FC;
  }
  .grammer_container{
    display: flex;
    width: 80%;
    margin: 0px auto;
    gap: 20px;
    padding: 40px 0px;
  }
  .grammer_item1{
    flex-basis: 60%;
  }
  .grammer_item1 img{
    width: 100%;
  }
  .grammer_item2{
    flex-basis: 40%;
    text-align: right;
  }
  .grammer_h1{
    background: -webkit-linear-gradient(#ff009d, #b700ff );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    margin-top: 50px;
  }
  .grammer_p{
    font-size: .8rem;
    color: #837D8F;
    line-height: 1.5rem;
    padding-left: 30px;
    padding: 20px 0px 20px 50px;
    font-weight: 600;
  }
  .btn_s{
    background-color: #FF42A5;
    color: #FFFF;
    border: none;
    padding: 15px 25px;
    border-radius: 25px;
    /* font-size: 1.2rem; */
    text-transform: uppercase;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .grammer_p2{
    color: #837D8F;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
    
  }
  .grammer_h3{
    color: #534C64;
  }
  /* videos style here  */

  .videos_section{
    width: 80%;
    margin: 100px auto;text-align: center;
  }
  .videos_h1{
    background: -webkit-linear-gradient(#ff009d, #b700ff );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    margin-bottom: 10px;
   
  }
  .videos_p{
    color:#928D9D ;
    font-size: .8rem;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .videos_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
  }
  .video_img img{
    width: 100%;
  
 
    


  }
  

 .video_img{
 position: relative;
 transition: all .3s;
 margin: 10px;
 border: 3px solid #FFFF ;
 border-radius: 15px;
 width: 100%;
 /* background-color: yellow; */



 }
 .video_img:hover{
  border: 3px solid #FF42A5 ;
  
 
 }
  .videos_P2{
    margin: 10px;
    font-size: .8rem;
    font-weight: 700;
    text-align: left;
    color:#928D9D ;
    line-height: 1.5rem;
    padding-right: 5px;
  }
  .videos_show{
    
    position: absolute;
    left: 35%;
    top: 45%;
   color: #FF42A5;
   display: none;
   
  
  }
  .video_img img{
    transition: all .3s;
    background-position: center;
  }
  .video_img img:hover+.videos_show{
    display: block;
  }
  .videos_show span{
    font-size: .8rem;
    font-weight: 600;
  }
  
  .video_img img:hover{
    filter: brightness(60%);
  
   
  }
  /* play style here  */
  .play_section{
    width: 80%;
    height: 100%;
    margin: 50px auto;
    /* background-color: rebeccapurple; */
   
  }
  .paly_container{
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 200px;

  }
  .play_item_1{
    flex-basis: 50%;
    /* background-color: yellow; */
  }
  .play_item_2{
    flex-basis: 50%;
    /* background-color: green; */
    position: relative;
    text-align: right;
   
  }
 
  .play_img_1{
    width: 85%;
    margin-right: 0;
    height: 100%;
    
  }
  .play_item_1_content{
    width: 50%;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    margin: 0 auto;
    text-align: right;
   
  }
  
  .play_item_1_h1{
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .play_item_1_p{
    font-size: .8rem;
    color:#928D9D ;
    line-height: 1.3rem;
    margin-top: 10px;
  }
  .play_img_2{
    width: 40%;
    position: absolute;
    bottom: -20%;
    left: 0;

  }
  .play_item_2_1{
    text-align: left;
  }
  .play_img_2_1{
    width: 40%;
    position: absolute;
    bottom: -20%;
    right: 0;
  }
  .play_item_1_content_1{
    width: 56%;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    margin: 0 auto;
    text-align: left;
   
  }
  /* career style start here  */

  .career_section{
    background-color:#FF42A5 ;
  }
  .carrer_container{
    display: flex;
  }
  
  .career_item_1{
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    flex-basis: 50%;
   
  }
  .career_content_2{
    
    display: flex;
    justify-content: space-between;
  }
  .career_ul_1 ,.career_ul_2{
    list-style: none;
    color: #FFFF;
    font-size: .9rem;
    line-height: 2rem;
    cursor: pointer;
    font-weight: 600;
  }
  .career_ul_2{
   
    text-align: right;
   
  }
  .career_h1{
    color: #FFFF;
    font-size: 2rem;
  }
  .career_p{
    color: #FFFF;
    font-size: .9rem;
    line-height: 1.3rem;
    margin-top: 10px;
    margin-bottom: 30px;
  }
.career_btn{
  border-style: none;
  padding: 10px 20px;
  color:#FF42A5 ;
  border-radius: 20px;
  margin-top: 25px;
  font-size: 1rem;
  cursor: pointer;
}
.career_item_2{
  flex-basis: 50%;
}
  .career_item_2 img{
  
    width: 100%;
   
    
  } 
  /* game_type style here  */
  .game_type{
    background-color: #FFF9FC;
    padding: 100px 0px;
    
  }
  .game_type_container{
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: #FFF9FC;
    
  }
  .game_type_item_1{
    display: flex;
    height: 100%;
    align-items: center;
    background-color: #FFFFFF;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 30px;
    transition: all .2s .1s;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    
    
  }
  .game_type_item_1:hover{
    border: 2px solid #FF42A5;
    color: #FF42A5;
  }
  .game_type_item_1 img{
    width: 25%;
  }

  .game_type_item_1 span{
    font-weight: 700;
    font-size: .8rem;
  }
  /* footer style here  */
  .footer_section{
    background-color: #0B0223;
  }
  .footer_container{
    width: 50%;
    margin: 0px auto;
    text-align: center;
    color: #ffff;
  }
  .footer_img{
    padding: 50px 0px;
  }
  .ul_1, .ul_2,.ul_3{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 20px 0px;
    font-weight: 600;
    cursor: pointer;
  }
  .ul_2{
    justify-content:center;
    gap: 40px;
    margin: 50px 0px;
    cursor: pointer;
    
  }
  .ul_3{
    font-size: .7rem;
    opacity: .7;
  }
  .footer_p{
    font-size: .7rem;
    padding: 40px 0px;
    opacity: .7;
  }